---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import type { Props } from '../components/Card.astro';
import Banner from '../components/Banner.astro';

const { products } = await fetch('https://dummyjson.com/products/?limit=9&skip=1').then((res) =>
  res.json()
);
---

<Layout title='Astro Shop.'>
  <main>
    <Banner />

    <section class='my-10 grid grid-cols-2 md:grid-cols-3 gap-10 lg:gap-20'>
      {
        products?.map((item: Props) => {
          return <Card {...item} />;
        })
      }
    </section>
  </main>
</Layout>
