---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Banner from '../components/Banner.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Banner />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 65rem;
  }
</style>
