---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <footer>
      <p class='border-t border-gray-400 text-center pt-5 pb-10'>
        Built by <a href='https://www.chizi.dev' class='underline'>Chizi Victor</a>
      </p>
    </footer>

    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }
      html {
        font-family: 'Playfair Display', serif;
        background-color: #101010;
        color: white;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
          Bitstream Vera Sans Mono, Courier New, monospace;
      }
      main,
      footer {
        margin: auto;
        padding: 1.5rem;
        max-width: 56rem;
      }
      img {
        border-radius: 5px;
      }
    </style>
  </body>
</html>
